* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-nav {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.container-secondario {
    display: flex;
    width: 75%;
    height: 50%;
    justify-content:space-between;
    align-items: center;
}

.navigation-bar {
    background-color: orange;
    border: 1px solid black;
}

.container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: blue;
}

.container-3 {
    width: 50%;
    height: 75%;
    background-color: palevioletred;
    border: 1px solid black;
}

.container-4 {
   display: flex;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center; 
}

.container-5 {
    display: flex;
    width: 75%;
    height: 75%;
    border: 2px solid black;    
}

.width-big {
    width: calc(100% / 1);
}

.width-small {
    width: calc(100% / 2);
}

.back-pink {
    background: lightpink;
}

.back-blue {
    background: lightblue;
}

.back-grey {
    background-color: lightgrey;
}

.back-green {
    background-color: green;
}

.container-6{
    display: flex;
    width: 100%;
    height: 900px;
    align-items: center;
    justify-content: center;
}

.container-7 {
    width: 75%;
    height: 90%;
    border: 2px solid black
}

.back-black{
    background-color: black;
}

.container-8 {
    display: flex;
    width: 100%;
    height: 700px;
    align-items: center;
    justify-content: center;
}

.container-9 {
    display: flex;
    width: 75%;
    height: 90%;
}

.back-bluegreen {
    background: rgb(81, 226, 171);
    width: calc(100% / 5);
}

.back-purple {
    background: purple;
    width: 400px;
}

.back-lightsky {
    background-color: lightskyblue;
}

.back-lightgreen {
    background-color: lightseagreen;
}

.padding-button{
    padding: 5px;
    background-color: pink;
}

.border-grey{
    border-bottom: 2px solid grey;
}

.border-left {
    border-left: 2px solid black;
}

.border-button {
    border: 2px solid black;
}